<!--  Head -->
<%- include('partials/head') %>
<!--  /Head -->

<!-- Header -->
<%- include('partials/header') %>

<!-- /Header -->

<!-- Banner -->
<div class="banner"></div>
<!-- /Banner -->

<!-- Novedades -->
<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Productos</h2>
    </div>
    <!-- Show the "ultimos" products -->
    <% for (let i = 0; i < productos.length; i++) { %>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/detalle/<%= productos[i].id %>">
            <figure class="product-box_image">
			<img src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
            </figure>
            <article class="product-box_data">
              <h2><%= productos[i].nombre %></h2>
              <p><%= productos[i].descripcion %></p>
              <p><%= productos[i].usuario.email %></p>
            </article>
          </a>
        </section>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>

	
