
<!--  Head -->
<%- include('partials/head') %>
<!--  /Head -->

		<!-- Header -->
	<% if (logueado) { %>
    <%- include('partials/headerLogueado') %>
<% } else { %>
    <%- include('partials/header') %>
<% } %>

	<!-- /Header -->

	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
		<h2 class="products-title"><%= producto.nombre %></h2>
<p class="product-detail-description"><%= producto.descripcion %></p>	
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
  <% for (let j = 0; j < producto.comentarios.length; j++) { %>
    <article>
      <img src="/images/users/<%= producto.comentarios[j].imagenPerfil %>" 
     alt="<%= producto.comentarios[j].nombreUsuario %>">
      <div class="data">
        <p class="user">
          <strong><%= producto.comentarios[j].nombreUsuario %>:</strong> 
          <%= producto.comentarios[j].texto %>
        </p>
      </div>
    </article>
  <% } %>
</section>
					</section>
					<form  action="" class="form" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	 
<%- include('partials/footer') %>